{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] }}", {
  input_base <- {{ case["input"]["inputBase"] }}
  expect_equal(line_up("{{ case["input"]["name"] }}", {{ case["input"]["number"] }}), 
                       "{{ case["expected"] }}")
})
{% endfor %}
