{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] }}", {
  input <- "{{ case["input"]["phrase"] }}"
  expect_equal(
    acronym(input), "{{ case["expected"] }}"
  )
})
{% endfor %}
