{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases %}
# {{ case["description"] }}
  {% for subcase in case["cases"] %}
test_that("{{ subcase["description"] }}", {
{% if subcase["property"] == "encode" %}
  plaintext <- "{{ subcase["input"]["phrase"] }}"
  expected <- "{{ subcase["expected"] }}"
  expect_equal(encode(plaintext), expected)
{% else %}
  ciphertext <- "{{ subcase["input"]["phrase"] }}"
  expected <- "{{ subcase["expected"] }}"
  expect_equal(decode(ciphertext), expected)
{% endif %}
})
  {% endfor %}
{% endfor %}
