{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] }}", {
{%  if case is error_case %}
  expect_error(steps({{ case["input"]["number"] }}))
{% else %}
  {%  if case["expected"] is sequence %}
  expect_equal(steps({{ case["input"]["number"] | list_to_tuple }}), {{ case["expected"] | list_to_tuple }})
  {% else %}
  expect_equal(steps({{ case["input"]["number"] }}), {{ case["expected"] }})
  {% endif %}
{% endif %}
})

{% endfor %}
