{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{%  macro add_test(case) %}
test_that("{{ case["description"] }}", {
{%  if case is error_case %}
  expect_error(collatz_step_counter({{ case["input"]["number"] }}))
{% else %}
  {%  if case["expected"] is sequence %}
  expect_equal(collatz_step_counter(c{{ case["input"]["number"] | list_to_tuple }}), c{{ case["expected"] | list_to_tuple }})
  {% else %}
  expect_equal(collatz_step_counter({{ case["input"]["number"] }}), {{ case["expected"] }})
  {% endif %}
{% endif %}
})
{%  endmacro %}

{% for case in cases -%}
{{- add_test(case) -}}
{% endfor %}

# Additional tests for this track

{% for case in additional_cases -%}
{{- add_test(case) -}}
{% endfor %}
