{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] | replace("array", "list") }}", {
  inputs <- {{ case["input"]["array"] | replace("[", "list(") | 
                  replace("]", ")") | replace("None", "NULL") }}
  expected <- c{{ case["expected"] | list_to_tuple | replace("'", "") }}
  expect_equal(flatten(inputs), expected)
})

{% endfor %}
