{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
{% for subcase in case["cases"] -%}

{% for subsubcase in subcase["cases"] -%}
    {% set to_ammend = subsubcase["expected"] %}
    {% set ammended = to_ammend[:-1] %}
    {% set last = to_ammend[-1] + "\n" %}
    {% set ammended = ammended + [last] %}

    {% if case['description'] == "verse" %}
    test_that("{{ subsubcase["description"] }}", {
     expect_equal(
        verse({{ subsubcase['input']['startBottles'] }}),
        paste(
        c{{ ammended | list_to_tuple }},
        sep = "\n"
        )
      )
    })
    {% endif %}

    {% if case['description'] == 'lyrics' %}
        test_that("{{ subsubcase["description"] }}", {
     expect_equal(
        lyrics({{ subsubcase['input']['startBottles'] }}, {{ subsubcase['input']['startBottles']  - subsubcase['input']['takeDown'] + 1 }}),
        paste(
        c{{ ammended | list_to_tuple }},
        collapse = "\n",
        sep = "\n"
        )
      )
    })
    {% endif %}

    {% endfor %}

{% endfor %}
{% endfor %}