{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] }}", {
  expect_equal(reverse("{{ case["input"]["value"] }}"), "{{ case["expected"] }}")
})

{% endfor %}
