{%- import "generator_macros.j2" as macros with context -%}
{{ macros.canonical_ref() }}

{{ macros.header() }}

{% for case in cases -%}
test_that("{{ case["description"] }}",{
  x <- {{ case["input"]["x"] }}
  y <- {{ case["input"]["y"] }}
  expect_equal(score(x, y), {{ case['expected'] }})
})

{% endfor %}
