# This workflow will do a clean install of the dependencies and run tests across different versions
#
# Requires scripts:
# - bin/run_tests.R

name: Exercise tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - uses: r-lib/actions/setup-r@bd49c52ffe281809afa6f0fecbf37483c5dd0b93
        with:
          r-version: 4.3.1

      - uses: r-lib/actions/setup-r-dependencies@bd49c52ffe281809afa6f0fecbf37483c5dd0b93
        with:
          cache-version: 1
          packages: |
            testthat
            jsonlite
            dplyr
            stringr
            readr
            purrr
            tibble

      - name: Run exercism/r ci (runs tests) for all exercises
        run: |
          source("bin/run_tests.R")
        shell: Rscript {0}
