# This workflow will do a clean install of the dependencies and run tests across different versions
#
# Requires scripts:
# - bin/run_tests.R

name: Exercise tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: r-lib/actions/setup-r@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590
        with:
          r-version: 4.3.1

      - uses: r-lib/actions/setup-r-dependencies@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590
        with:
          cache-version: 1
          packages: |
            testthat
            jsonlite
            dplyr
            stringr
            readr
            purrr
            tibble

      - name: Run exercism/r ci (runs tests) for all exercises
        run: |
          source("bin/run_tests.R")
        shell: Rscript {0}
