# This workflow will do a clean install of the dependencies and run the linter
#
# Requires scripts:
# - bin/run_lints.R

name: Lint exercises

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: r-lib/actions/setup-r@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590
        with:
          r-version: 4.3.1

      - uses: r-lib/actions/setup-r-dependencies@6f6e5bc62fba3a704f74e7ad7ef7676c5c6a2590
        with:
          cache-version: 1
          packages: |
            lintr

      - name: Run exercism/r ci pre-check (checks config, lint code) for all exercises
        run: |
          source("bin/run_lints.R")
        shell: Rscript {0}
